body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0C141A;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #0C141A;
    color: rgba(255, 255, 255, 0.85);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

header a {
  text-decoration: none;
  color: #007BFF;
  margin: 0 5px;
}

header a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }