body.dashboard {
    background: url("../images/halazoon.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    color: rgba(255,255,255,0.9);
}

.page-title {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 3em;
    font-weight: bold;
    color: #883311;
}

.username-top {
    position: absolute;
    top: 225px;
    left: 130px;
    font-size: 1.6em;
    font-weight: bold;
    color: #66ccff;
}

.dashboard-menu-box {
    position: absolute;
    bottom: 30px;
    left: 120px;
    background-color: rgba(200, 217, 230, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.dashboard-menu-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard-menu-box li {
    margin: 15px 0;
}

.dashboard-menu-box a {
    color: #443122;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s;
}

.dashboard-menu-box a:hover {
    color: #99ddff;
}
