{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}DelYar - Wedding Dress Recommender{% endblock %}</title>
    {% load static %}
    <link rel="icon" href="{% static 'images/Delyar.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/result.css' %}" />
    <link rel="stylesheet" href="{% static 'css/user-home.css' %}" />

    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

{# دیباگ: نام URL فعلی #}
<!-- Debug: {{ request.resolver_match.url_name }} -->

{% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' and request.resolver_match.url_name != 'homepage' %}
    {% include "header.html" %}
{% endif %}

<main>
    {% block content %}{% endblock %}
</main>

{% if request.resolver_match.url_name != 'login' and request.resolver_match.url_name != 'signup' and request.resolver_match.url_name != 'homepage' %}
    {% include "footer.html" %}
{% endif %}

</body>
</html>