{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/welcome-page.css' %}">
{% endblock %}

{% block body_class %}welcome{% endblock %}

{% block content %}
<div class="welcome-page">
    <div class="welcome-content">
        <h1>Welcome to the Wedding Dress Recommendation System</h1>
        <p>Please log in or sign up to get started:</p>
        <div class="button-group">
            <a href="/admin/login/"><button>Company/Admin Login</button></a>

            <div class="user-buttons">
                <a href="/accounts/login/"><button>User Login</button></a>
                <a href="/accounts/signup/"><button>User Sign Up</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
